@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.command-launcher-body {
  display: flex;
  justify-content: flex-start;
  height: 576px;
}

.command-launcher-menu {
  width: 184px;
  background-color: #252d29;
  color: #a5b0ab;
}

.command-launcher-display {
  width: calc(100% - 184px);
  height: 100%;
  background: lightgray;
  overflow-y: scroll;
  overflow-x: hidden;
}

.command-launcher-display-preview-container {
  height: 100%;
  display: flex;
}

.modal-input-box {
  display: flex;
  height: 64px;
  outline: none;
  border-bottom: 1px solid #353a38;
  box-sizing: border-box;
  background-color: #1b231f;
  font-size: 16px;
}

.modal-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.cl-base-input {
  /* height: 64px; */
  padding: 0;
  padding-left: 16px;
  outline: none;
  border: none;
  background-color: #1b231f;
  font-size: 16px;
  color: #fff;
}

.cl-input {
  display: inline-block;
  vertical-align: top;
  min-width: 1em;
  cursor: text;
}
.cl-input:empty:before {
  content: attr(data-placeholder);
  color: #a5b0ab;
}
.cl-input br {
  display: none;
}
.cl-input * {
  display: inline;
}
.highlight-required {
  border: red;
  border-style: solid;
  border-width: thin;
}

.arg-input {
  display: inline-block;
  vertical-align: top;
  min-width: 1em;
  width: fit-content;
  padding: 0px 5px 0px 5px;
  cursor: text;
}

.highlight-required {
  border: red;
  border-style: solid;
  border-width: thin;
}

.icon {
  width: 100px;
}

.airlock-subscription-display-line {
  color: black;
  text-align: left;
}

.arg-input {
  padding: 5px 8px;
  font-family: 'Inter', sans-serif;
  color: #fff;
}

.arg-input:empty:before {
  content: attr(data-placeholder);
  color: #a5b0ab;
}

.arg-input:focus-visible {
  border: 1px solid #f1f5f3;
  border-radius: 8px;
  outline: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #3e3e3e;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background: #969494;
  border-radius: 20px;
}

.inputs-wrapper {
  display: flex;
  align-items: center;
  height: 64px;
  padding-left: 8px;
}

.modal-input-box input {
  font-family: 'Inter', sans-serif;
}

.modal-input-box input::placeholder {
  color: #a5b0ab;
}

.logo-container {
  width: 184px;
  background-color: #252d29;
}

.logo {
  padding-top: 20px;
  padding-left: 24px;
}

.menu-option {
  display: flex;
  align-items: center;
  height: 40px;
  margin: 4px 8px;
  padding-left: 14px;
  border-radius: 12px;
  font-size: 16px;
}

.menu-option.selected {
  background-color: #019d64;
  color: white;
}

.command-launcher-menu-option:focus-visible {
  background-color: aquamarine;
  font-family: 'Inter', sans-serif;
}

.command-icon {
  padding-right: 14px;
}

.menu-option.selected .command-icon img {
  filter: brightness(0) invert(1);
}
