@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.command-launcher-body {
  display: flex;
  justify-content: flex-start;
  padding: 2px;
  height: 370px;
}

.command-launcher-menu {
  width: 160px;
}

.command-launcher-display {
  width: -webkit-fill-available;
  height: 100%;
  background: lightgray;
  overflow-y: scroll;
  overflow-x: hidden;
}

.command-launcher-display-preview-container {
  height: 100%;
  display: flex;
}

.modal-input-box {
  padding: 2px;
  padding-left: 16px;
  height: 72px;
  outline: none;
  background-color: #1b231f;
  font-size: 18px;
}

.modal-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.cl-base-input {
  width: -webkit-fill-available;
  height: 72px;
  padding: 0;
  outline: none;
  border: none;
  background-color: #1b231f;
  font-size: 18px;
  color: #fff;
}

.cl-input {
  display: inline-block;
  vertical-align: top;
  min-width: 1em;
  cursor: text;
}
.cl-input:empty:before {
  content: attr(data-placeholder);
  color: #a5b0ab;
}
.cl-input br {
  display: none;
}
.cl-input * {
  display: inline;
}
.highlight-required {
  border: red;
  border-style: solid;
  border-width: thin;
}

.arg-input {
  display: inline-block;
  vertical-align: top;
  min-width: 1em;
  width: fit-content;
  padding: 0px 5px 0px 5px;
  cursor: text;
}

.highlight-required {
  border: red;
  border-style: solid;
  border-width: thin;
}

.icon {
  width: 100px;
}

.airlock-subscription-display-line {
  color: black;
  text-align: left;
}

.arg-input {
  padding: 5px 8px;
  font-family: 'Inter', sans-serif;
  color: #fff;
}

.arg-input:empty:before {
  content: attr(data-placeholder);
  color: #a5b0ab;
}

.arg-input:focus-visible {
  border: 1px solid #f1f5f3;
  border-radius: 8px;
  outline: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #3e3e3e;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background: #969494;
  border-radius: 20px;
}

.inputs-wrapper {
  display: flex;
  align-items: center;
  height: 72px;
}

.modal-input-box input {
  font-family: 'Inter', sans-serif;
}

.modal-input-box input::placeholder {
  color: #a5b0ab;
}
